<script type='text/x-handlebars-template' id='faostat_ui_table_structure'>
    <h1>
        {{preview_label}}
    </h1>
    <div class="fs-table-holder">
            <table class='table table-responsive table-striped table-bordered table-hover'>
                <thead >
                    <tr>
                        {{#each headers}}
                            <th data-type='{{this.type}}' >
                                {{this.label}}
                            </th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each rows}}
                        <tr>
                            {{#each this.cells}}
                                <td data-type='{{this.type}}'>
                                    {{this.label}}
                                </td>
                            {{/each}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>
            <ul class='pagination'>
                <li>
                    <a>
                        <span aria-hidden='true'>
                            <i class='fa fa-fast-backward first_page_button'></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span aria-hidden='true'>
                            <i class='fa fa-backward previous_page_button'></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span aria-hidden='true'>
                            <i class='fa fa-forward next_page_button'></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span aria-hidden='true'>
                            <i class='fa fa-fast-forward last_page_button'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <span class="fs-page-number">
                Page <b id='current_page'>{{current_page}}</b> / <b>{{total_pages}}</b>.
            </span>
</script>
